/*Especificidad 001*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 920px) {
    /*Especificidad 001*/
    header, nav {
      flex-direction: column;
    }
}
/*Especificidad 002*/
header nav {
    display: flex;
    column-gap: 0.5em;
    row-gap: 0.7em;
}
/*Especificidad 002*/
nav a {
    text-decoration: none;
    margin: 0 1em;
}
/*Especificidad 012*/
nav a.active {
    border-radius: 0.5em;
    background-color: #083b39;
    /*Hereda color de texto de a*/
    padding: 0.3em;
}